.custom-label {
    font-size: 20px;
    -unity-font-style: bold;
    color: rgb(68, 138, 255);
}

.unity-progress-bar {
    --bar-colour: rgb(39, 205, 34);
    --bar-background: rgb(53, 255, 113);
}

.unity-progress-bar__container{
    max-height: none;
    height: 100%
}

.unity-progress-bar__background {
    background-color: var(--bar-background);
}

.unity-progress-bar__progress {
    background-color: var(--bar-colour);
}

.unity-progress-bar__title-container{
    justify-content: flex-start;
}

.unity-progress-bar__title {
    -unity-text-align: middle-left;
}
